{% extends "base.html" %}
{% block title %}Создать группу{% endblock %}
{% block head %}
    <script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <header>
        <div class="logo">
            <a href="{{ url_for('chats') }}">chater</a>
        </div>
        <div class="menu">
            <a href="{{ url_for('settings') }}">Настройки</a>
            <a href="{{ url_for('create_group') }}">Создать группу</a>
            <a href="{{ url_for('logout') }}">Выход</a>
        </div>
    </header>
    
    <div class="form-title">Создать группу</div>
    <form method="POST" action="{{ url_for('create_group') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=20) }}
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.members.label }}<br>
            {{ form.members(size=10) }}
            {% for error in form.members.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}