{% extends "base.html" %}
{% block title %}Создать группу{% endblock %}
{% block head %}
    <script src="https://releases.jquery.com/git/jquery-git.min.js" integrity="sha384-CQ5wK5Rkp6STqQ/6F26wYHKejS3pCR7rY6ix9RTrSXV3q/MV+CU55EIHr6S/4IcM" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <h1>Создать группу</h1>
    <div id="create-group">
        <h2>Новая группа</h2>
        <form method="POST" action="{{ url_for('create_group') }}">
            {{ form.hidden_tag() }}
            <input type="text" name="name" placeholder="Название группы" required>
            <h3>Выберите участников</h3>
            {% for user in users %}
                <label>
                    <input type="checkbox" name="members" value="{{ user.id }}"> @{{ user.username }}
                </label><br>
            {% endfor %}
            <button type="submit">Создать</button>
        </form>
    </div>
{% endblock %}