{% extends "base.html" %}
{% block title %}Настройки{% endblock %}
{% block head %}
    <script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <header>
        <div class="logo">
            <a href="{{ url_for('chats') }}">chater</a>
        </div>
        <div class="menu">
            <a href="{{ url_for('settings') }}">Настройки</a>
            <a href="{{ url_for('create_group') }}">Создать группу</a>
            <a href="{{ url_for('logout') }}">Выход</a>
        </div>
    </header>
    
    <div class="form-title">Настройки профиля</div>
    <form method="POST" action="{{ url_for('settings') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=20, value=current_user.username) }}
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.avatar.label }}<br>
            {{ form.avatar() }}
            {% for error in form.avatar.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div style="text-align: center;">
            {% if current_user.avatar %}
                <img src="{{ url_for('static', filename='avatars/' + current_user.avatar) }}" alt="Текущий аватар" style="border-radius: 50%; margin-top: 10px; width: 100px; height: 100px; object-fit: cover;">
            {% else %}
                <img src="{{ url_for('static', filename='orig.jpg') }}" alt="Аватар по умолчанию" style="border-radius: 50%; margin-top: 10px; width: 100px; height: 100px; object-fit: cover;">
            {% endif %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}